@page "{id}"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model EditPageModel

@{
    var name = Model.CurrentProfileType.Name;
    ViewData["Title"] = $"Edit profile type {name}";
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-page="/User/AdminDashboard">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-page="/ProfileTypes/Index">Profile types</a>
        </li>
        <li aria-current="page"
            class="breadcrumb-item active">
            Profile type @Model.CurrentProfileType.Name
        </li>
    </ol>
}

<form enctype="multipart/form-data"
      method="post">
    <input type="hidden" asp-for="CurrentProfileType.ProfileTypeId"/>
    <div class="mb-3">
        <label asp-for="CurrentProfileType.Name" class="form-label">Profile type name</label>
        <input asp-for="CurrentProfileType.Name"
               class="form-control"
               required="required"
               type="text">
        <span asp-validation-for="CurrentProfileType.Name"></span>
    </div>
    <div class="mb-3">
        <label asp-for="CurrentProfileType.Description" class="form-label">Profile type description</label>
        <input asp-for="CurrentProfileType.Description"
               class="form-control"
               required="required"
               type="text">
        <span asp-validation-for="CurrentProfileType.Description"></span>
    </div>
    <div class="mb-3">
        <button class="btn btn-primary mr-3 mt-2 "
                type="submit">
            Save <i class="fas fa-save"></i>
        </button>
        <a asp-page="/Categories/Index">Cancel and go back to categories list</a>
    </div>
</form>

