@page
@model IndexPageModel
@{
    ViewData["Title"] = "Information about Profile Manager";
}


<h1 class="display-4">Profile Manager information</h1>
<p>
    Profile Manager enables you to create different profiles for categories and then be able to download it to you system for use, either for work
    or personal or workshop or for whatever needs neccessary.
</p>