@page
@model IndexModel
@{
    ViewData["Title"] = "Information";
}

<h3>Welcome to the Profile Manager website</h3>
<p class="text-info">
    Profile manager enables you to create different profiles and to manage them.
    It is a client application that is used to view, create, update and set the configuration for your profile.
    Profile manager can include:
</p>
<ul>
    <li>Create, update, set different profiles.</li>
    <li>Get different profiles from api to be used for different purposes.</li>
</ul>