@page "{id}"
@model EditPageModel

@{
    var name = Model.CurrentProfileItem.Name;
    ViewData["Title"] = $"Edit profile item {name}";
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-page="/User/AdminDashboard">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-page="/ProfileItems/Index">Profile item</a>
        </li>
        <li aria-current="page"
            class="breadcrumb-item active">
            Profile item @Model.CurrentProfileItem.Name
        </li>
    </ol>
}

<form enctype="multipart/form-data"
      method="post">
    <div class="mb-3">
        <label asp-for="CurrentProfileItem.Name" class="form-label">Name</label>
        <input asp-for="CurrentProfileItem.Name"
               class="form-control"
               required="required"
               type="text">
        <span asp-validation-for="CurrentProfileItem.Name"></span>
    </div>
    <div class="mb-3">
        <label asp-for="CurrentProfileItem.Description" class="form-label">Description</label>
        <input asp-for="CurrentProfileItem.Description"
               class="form-control"
               required="required"
               type="text">
        <span asp-validation-for="CurrentProfileItem.Description"></span>
    </div>
    <div class="mb-3">
        <button class="btn btn-primary mr-3 mt-2 "
                type="submit">
            Save <i class="fas fa-save"></i>
        </button>
        <a asp-page="/ProfileItems/Index">Cancel and go back to profile item list</a>
    </div>
</form>

