@page "{id}"
@model EditPageModel

@{
    var name = Model.CurrentProfileItemType.Name;
    ViewData["Title"] = $"Edit profile item type {name}";
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-page="/User/AdminDashboard">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-page="/ProfileItemTypes/Index">Profile item types</a>
        </li>
        <li aria-current="page"
            class="breadcrumb-item active">
            Profile item type @Model.CurrentProfileItemType.Name
        </li>
    </ol>
}

<form enctype="multipart/form-data"
      method="post">
    <input type="hidden" asp-for="CurrentProfileItemType.ProfileItemTypeId"/>
    <div class="mb-3">
        <label asp-for="CurrentProfileItemType.Name" class="form-label">Name</label>
        <input asp-for="CurrentProfileItemType.Name"
               class="form-control"
               required="required"
               type="text">
        <span asp-validation-for="CurrentProfileItemType.Name"></span>
    </div>
    <div class="mb-3">
        <label asp-for="CurrentProfileItemType.Description" class="form-label">Description</label>
        <input asp-for="CurrentProfileItemType.Description"
               class="form-control"
               required="required"
               type="text">
        <span asp-validation-for="CurrentProfileItemType.Description"></span>
    </div>
    <div class="mb-3">
        <button class="btn btn-primary mr-3 mt-2 "
                type="submit">
            Save <i class="fas fa-save"></i>
        </button>
        <a asp-page="/ProfileItemTypes/Index">Cancel and go back to profile item types list</a>
    </div>
</form>

