.sortable th {
    cursor: pointer;
}
.sortable th.no-sort {
    pointer-events: none;
}
.sortable th::after,
.sortable th::before {
    transition: color 0.2s ease-in-out;
    font-size: 1.2em;
    color: transparent;
}
.sortable th::after {
    margin-left: 3px;
    content: '\025B8';
}
.sortable th:hover::after {
    color: inherit;
}
.sortable th.dir-d::after {
    color: inherit;
    content: '\025BE';
}
.sortable th.dir-u::after {
    color: inherit;
    content: '\025B4';
}