@page
@model CreatePageModel

@{
    ViewData["Title"] = "Add profile";
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-page="/User/Dashboard">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-page="/Profiles/Index">Profiles</a>
        </li>
        <li aria-current="page"
            class="breadcrumb-item active">
            Add new profile
        </li>
    </ol>
}

<h2 class="text-muted">
    Add profile
</h2>

<form enctype="multipart/form-data"
      method="post">
    <div class="mb-3">
        <label asp-for="ProfileItem.Name" class="form-label">Enter name</label>
        <input asp-for="ProfileItem.Name"
               class="form-control"
               required="required"
               type="text">
        <span asp-validation-for="ProfileItem.Name"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ProfileItem.Description" class="form-label">Enter description</label>
        <textarea class="form-control" asp-for="ProfileItem.Description" rows="3"></textarea>
    </div>
    <div class="mb-3">
        <label asp-for="ProfileItem.Type" class="form-label">Choose profile type</label>
        <select class="form-select" aria-label="Item type select" name="ddlItemTypes">
            @foreach (var profileItemType in Model.ProfileTypes)
            {
                <option value="@profileItemType.ProfileTypeId">@profileItemType.Name</option>
            }
        </select>
    </div>
    <div class="mb-3">
        <button class="btn btn-primary mr-3 mt-2 "
                type="submit">
            Save and continue to select items <i class="fas fa-save"></i>
        </button>
        <a asp-page="/Profiles/Index">Go to profile list</a>
    </div>
</form>